<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="connectionString" connectionString="Server=.\sqlexpress01;Database=WMS;User Id=torn;Password=123456;" />
  <add name="wireframe.Properties.Settings.WMSConnectionString"
   connectionString="Data Source=.\SQLEXPRESS01;Initial Catalog=WMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>